.sumario{
    color: white;
    background-color: gray;
    border-style: solid;
    border-width: 1px;
    margin-right:70%;
    
}
.sumarioTitulo{
    text-shadow: 2px 2px #000;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin-right: 30%;
}
